*{
    padding: 0;
margin: 0;
bottom: 0;
box-sizing: border-box;
}

header{
    background-color: aqua;
padding: 1rem;
color: black
}

#cabecalho{
    display: flex;
justify-content: space-between;
align-items: center;
}

.logo img{
width: 50px;
height: 50px;
border-radius: 25px;
}

.busca input{
padding: 0.9vh;
width: 50vh;
box-shadow: 0 2px 5px black;
border: none;
}

.busca{
    position: relative;
}

.busca i{
    position: absolute;
right: 4px;
top: 0.3rem;
}

.busca input:focus{
    outline: none;
}

.icones{
    display: flex;
}

.icones{
    font-size: 1rem;
}
.navegacao {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.navegacao li a {
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 10px;
    transition: background-color 0.2s;
    color: #f1f1f1;
}

.navegacao li a:hover {
    background-color: #ff5733;
    border-radius: 5px;
}

main {
    background-color: #ffff;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

#inicio h2,
#sobre h2 {
    color: rgb(53, 255, 2);
}